<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <title id="title">Reddit Memes</title>
</head>

<body>
    <section class="section" id="app">
        <div class="container">
            <h1 class="title">3D Text</h1>
            <div class="columns">
                <div class="column is-half">
                    <pre class="preview">{{cubifyText | cubify }}</pre>
                </div>
                <div class="column is-half">
                    <input v-model="cubifyText">
                </div>
            </div>
            <div class="container" id="app">
                <h1 class="title">2D Text</h1>
                <div class="columns">
                    <div class="column is-half">
                        <pre class="preview">{{vertspreadText | vertspread }}</pre>
                    </div>
                    <div class="column is-half">
                        <input v-model="vertspreadText">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://use.fontawesome.com/162abbfb12.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>